# By default ignore
*
!.gitignore
!README.md
!elasticsearch
!elasticsearch/*
!filebeat
!filebeat/**
!kibana
!kibana/*
!logstash
!logstash/*
!nginx
!nginx/**
!sampleLogFiles
!sampleLogFiles/*
!docker-compose.yml
