# By default ignore
*
!.gitignore
!.drone.yml
!README.md
!apmServer
!apmServer/*
!elasticsearch
!elasticsearch/*
!filebeat
!filebeat/**
!kibana
!kibana/*
!logstash
!logstash/*
!nginx
!nginx/**/README.md
!nodejs
!nodejs/*
!sampleLogFiles
!sampleLogFiles/*
!docker-compose.yml
